<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell IIS to serve the default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="acm-poc-backend/dist/src/index.js" />
      </files>
    </defaultDocument>
    
    <!-- Tell IIS to handle Node.js with iisnode -->
    <handlers>
      <add name="iisnode" path="acm-poc-backend/dist/src/index.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <!-- URL Rewriting -->
    <rewrite>
      <rules>
        <!-- All requests go to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="acm-poc-backend/dist/src/index.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- Security -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Make sure failed requests aren't cached by the browser -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- iisnode settings -->
    <iisnode 
      node_env="%node_env%"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      watchedFiles="*.js"
      loggingEnabled="true"
      devErrorsEnabled="false"
    />
  </system.webServer>
</configuration>
